$bold: 'Gilroy-Bold'
$medium: 'Gilroy-Medium'
$regular: 'Gilroy-Regular'
$semibold: 'Gilroy-Semibold'

$start: 360px
$sm: 576px
$md: 768px
$lg: 992px
$x: 1200px

$base-font-size: 14px
$cardBorderRadius: 15px

$primary: #5D5FEF
$secondary: #5556D3
$lightest: #ffffff
$darkest: #000000
$cardBG: #F0F0F0
$accent: #EF5DA8
$textColor: #2F2F2F
$lightBlue: #D6D6FF
$lightTableCells: #F5F5F5
$lightGray: #DDDDDD
$cardDescr: #868686
$privacyPolicy: #B6B6B6
$progressbarBG: #C7C8FF
$tooltip: #383838

$profile: #A5A6F6
$portfolio: #F178B6
$SRfresh: #3AC49F
$SRpro: #5D5FEF
$SRtop: #EF5DA8