<aside class="aside" id="aside">
 <nav>
  <ul>
   <li class="aside-li aside-li__active">
    <a class="aside-link" href="#">
     <svg class="aside-icon">
      <use xlink:href="#manage"></use>
     </svg>
     <span class="aside-text">Управление</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon aside-icon__stroke">
      <use xlink:href="#portfolio"></use>
     </svg>
     <span class="aside-text">Портфолио</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon aside-icon__stroke">
      <use xlink:href="#star"></use>
     </svg>
     <span class="aside-text">Награды</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon aside-icon__stroke aside-icon__favorite">
      <use xlink:href="#heart"></use>
     </svg>
     <span class="aside-text">Избранное</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon aside-icon__stroke  aside-icon__settings">
      <use xlink:href="#settings"></use>
     </svg>
     <span class="aside-text">Аккаунт</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon">
      <use xlink:href="#level"></use>
     </svg>
     <span class="aside-text">Уровень</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon aside-icon__stroke">
      <use xlink:href="#crown"></use>
     </svg>
     <span class="aside-text">Премиум</span>
    </a>
   </li>
   <li class="aside-li">
    <a class="aside-link" href="#">
     <svg class="aside-icon">
      <use xlink:href="#help"></use>
     </svg>
     <span class="aside-text">Поддержка</span>
    </a>
   </li>
   <li class="aside-li aside-li__exit">
    <a class="aside-link" href="#">
     <svg class="aside-icon">
      <use xlink:href="#exit"></use>
     </svg>
     <span class="aside-text">Выйти</span>
    </a>
   </li>
  </ul>
 </nav>
</aside>