<section class="card">
 <div class="card-person">
  <div class="card-person__info">
   <img src="img/person/ava.png" alt="Ваш аватар" class="card-person__ava">
   <p class="card-person__name">Давид Аракелян</p>
  </div>
 <div class="card-person__level">топ</div>
</div>
  <div class="card-status">
   <div class="card-status__text">
    <h2 class="card-status__title">SELFMADE RESPECT (SR)</h2>
    <a class="card-status__explain" href="#">(Что это?)</a>
   </div>
   <div class="card-status__descrs">
    <div class="card-status__descr card-descr">
     <div class="card-color card-color__profile"></div>
     <p class="card-descr__text">Профиль</p>
    </div>
    <div class="card-status__descr card-descr">
     <div class="card-color card-color__portfolio"></div>
     <p class="card-descr__text">Портфолио</p>
    </div>
    <div class="card-status__descr card-descr">
     <div class="card-color card-color__SRfresh"></div>
     <p class="card-descr__text">SR ФРЕШ</p>
    </div>
    <div class="card-status__descr card-descr">
     <div class="card-color card-color__SRpro"></div>
     <p class="card-descr__text">SR ПРО</p>
    </div>
    <div class="card-status__descr card-descr">
     <div class="card-color card-color__SRtop"></div>
     <p class="card-descr__text">SR ТОП</p>
    </div>
   </div>
  </div>
  <div class="card-disc">
   <h2 class="card-disc__title">Мой диск</h2>
   <div class="card-disc__volume">
    <p class="card-disc__left">Осталось <span>40/100 (mb)</span></p>
    <div class="card-progress__wrapper">
     <progress class="card-progress" id="discVolume" max="100" value="40"></progress>
     <a href="#" class="card-progress__add" id="addText">Добавить место</a>
    </div>
   </div>
  </div>
</section>