<footer class="footer">
 <div class="footer-top">
  <div class="_container">
  <div class="footer-company">
   <a href="#"><svg class="footer-logo"><use xlink:href="#logo"></use></svg></a>
   <div class="footer-links">
     <a class="footer-link">
      <svg class="footer-company__svg">
       <use xlink:href="#telegram"></use>
      </svg>
    </a>
     <a class="footer-link">
      <svg class="footer-company__svg">
       <use xlink:href="#instagram"></use>
      </svg>
    </a>
     <a class="footer-link">
      <svg class="footer-company__svg">
       <use xlink:href="#vk"></use>
      </svg>
    </a>
     <a class="footer-link">
      <svg class="footer-company__svg">
       <use xlink:href="#facebook"></use>
      </svg>
    </a>
   </div>
  </div>
  <nav class="footer-nav">
   <ul class="footer-nav__ul">
    <li><a class="footer-nav__link" href="#">Как работает сервис?</a></li>
    <li><a class="footer-nav__link" href="#">Советы от SELFMADE</a></li>
    <li><a class="footer-nav__link" href="#">Пользовательское соглашение</a></li>
    <li><a class="footer-nav__link" href="#">Почему SELFMADE</a></li>
    <li><a class="footer-nav__link" href="#">Помощь и поддержка</a></li>
   </ul>
  </nav>
 </div>
 </div>
 <div class="footer-bottom">
  <div class="_container">
   <ul class="footer-data">
    <li class="footer-data__text">© SELFMADE.TEAM 2022</li>
    <li class="footer-data__text">ИНН 431207720494 / ОГРНИП 320508100324371</li>
    <li class="footer-data__text footer__privacy-policy"><a>Политика конфиденциальности</a></li>
   </ul>
  </div>
 </div>
</footer>