<secton class="sr">
 <h2 class="sr-title">Ваш SR</h2>
 <div class="sr-progress__wrapper">
  <div class="sr-tooltip" id="tooltip" display="none" style="position: fixed; display: none;"></div>

 <svg class="sr-progress" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  
  <circle class="sr-progress__top sr-no-fill sr-progress__bg" cx="50" cy="50" r="47" />
  <circle data-text="SR ТОП" class="sr-progress__top sr-no-fill sr-progress__color sr-progress__SRtop" id="SRtop" data-persentage="9" cx="50" cy="50" r="47"></circle>

  <circle class="sr-progress__top sr-no-fill sr-progress__bg" cx="50" cy="50" r="40" />
  <circle data-text="SR ПРО" class="sr-progress__top sr-no-fill sr-progress__color sr-progress__SRpro" cx="50" cy="50" data-persentage="90" r="40"></circle>

  <circle class="sr-progress__top sr-no-fill sr-progress__bg" cx="50" cy="50" r="33" />
  <circle data-text="SR ФРЕШ" class="sr-progress__top sr-no-fill sr-progress__color sr-progress__SRfresh" cx="50" cy="50" data-persentage="100" r="33"></circle>

  <circle class="sr-progress__top sr-no-fill sr-progress__bg" cx="50" cy="50" r="26" />
  <circle data-text="Портфолио" class="sr-progress__top sr-no-fill sr-progress__color sr-progress__portfolio" cx="50" cy="50" data-persentage="50" r="26"></circle>

  <circle class="sr-progress__top sr-no-fill sr-progress__bg" cx="50" cy="50" r="19" />
  <circle data-text="Профиль" class="sr-progress__top sr-no-fill sr-progress__color sr-progress__profile" cx="50" cy="50" data-persentage="100" r="19"><text x="20" y="35" class="small">qqqqqqqqqq</text></circle>

 </svg>
 <div class="sr-data">
  <p class="sr-data__added">+ 10</p>
  <p class="sr-data__current">935</p>
  <p class="sr-data__total">17849</p>
 </div>
 </div>

 <p class="sr-achiv"><span class="sr-achiv__current">74</span> / <span class="sr-achiv__all">134</span></p>
</secton>