<table class="table">
 <thead class="table-head">
  <tr>
   <td class="table-head__cell table-head__name">Статистика c <time class="table-date">01.12.22</time> по <time class="table-date">08.12.22</time></td>
   <td class="table-head__cell table-content__cell">Пользователи</td>
   <td class="table-head__cell table-content__cell">Анонимы</td>
   <td class="table-head__cell table-content__cell">Всего</td>
  </tr>
 </thead>
 <tbody class="table-body">
  <tr class="table-content__row">
   <td class="table-row table-row__name">Уникальные визиты</td>
   <td class="table-content__cell">12</td>
   <td class="table-content__cell">33</td>
   <td class="table-content__cell">60</td>
  </tr>
  <tr class="table-content__row">
   <td class="table-row table-row__name">Просмотров контактов</td>
   <td class="table-content__cell">2</td>
   <td class="table-content__cell"></td>
   <td class="table-content__cell">7</td>
  </tr>
  <tr class="table-content__row">
   <td class="table-row table-row__name">Добавлений в избранное</td>
   <td class="table-content__cell">3</td>
   <td class="table-content__cell"></td>
   <td class="table-content__cell">13</td>
  </tr>
  <tr class="table-content__row">
   <td class="table-row table-row__name">Просмотров портфолио</td>
   <td class="table-content__cell">22</td>
   <td class="table-content__cell">87</td>
   <td class="table-content__cell">156</td>
  </tr>
 </tbody>
</table>